.pane-menu-soe-primary-menu li .main-menu-mega-menu {
  background-color: #fff;
  position: absolute;
  left: -999em;
  height: auto;
  z-index: 60;
}

.pane-menu-soe-primary-menu li:hover .main-menu-mega-menu {
  left: -60px;
  top: 50px;
}

